<div class="table">
    <table>
      <th>Name</th>
      <th>Age</th>
      {{#each people}}
      <tr><td>
        {{name}}
      </td>
      <td>
        {{age}}
      </td>
      <td>
        {{isIt}}
      </td>
      {{#if isIt}}
      <img src="https://allthingslearning.files.wordpress.com/2011/04/pors.jpg" alt="" />
      <img src="./mustang.jpg" alt="" />
      {{/if}}
    </tr>
    {{/each}}
  </table>

  <div class="image">

  </div>



</div>
